
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/base-min.css">


<div class="login-signup-box" id="landing-page-box" style="margin-top: 100px;">
  
  <h1>revelize</h1>

  <p id="tagline">the start of your next great adventure</p>
  
  <%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.label :username %>
    <input type="text" name="user[username]" id="user_username" style="color: black;">

    <br><br>

    <%= f.label :password %>
    <input type="password" name="user[password]" id="user_password" style="color: black;">

    <br><br>

    <input type="submit" name="commit" value="log in" data-disable-with="log in" style="color: black;">
    <br><br>
    
    <button>
      <a href="/users/new">sign up</a>
    </button>
  <% end %>

</div>

<video autoplay loop id="video-background" muted plays-inline>
  <source src="http://dl.dropboxusercontent.com/s/zlyj8x56bpoqccs/revelize_vid.mp4?dl=0" type="video/mp4">
</video>