<div class="navbar">
  <a href="/">Home</a>
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/logout">Log Out</a>
  <div class="right">
    <a href="#">revelize</a>
  </div>
</div>

<br><br>

<div class="main" align="center">

<h1>Hi, <%= @user.username.titlecase %></h1>

<br>

<table>
  <tr>
      <td><h2>Your Active Outings</h2>
      <div class="vertical-outing-menu">
        <% @user_active_outings.each do |outing| %>
          <%= link_to outing.name, outing_path(outing) %>
        <% end %>
      </div></td>
  <br>
      <td><h2>Your Completed Outings</h2>
      <div class="vertical-outing-menu">
        <% @user_finished_outings.each do |outing| %>
          <%= link_to outing.name, outing_path(outing) %>
        <% end %>
      </div></td>
  </tr>
</table>
</div>
