<div class="navbar">
  <a href="/outings">Your Outings</a>
  <a href="/outings/new">New Outing</a>
  <a href="/logout">Log Out</a>
  <div class="right">
    <a href="/">revelize</a>
  </div>
</div>

<br><br>

<div class="main">
<%= form_tag invite_path(@outing) do %>
  <label>Invite Friends:</label><br>
  <% @users.each do |user| %>
    <label><%= user.username %></label>
    <%= check_box_tag :'outing[user_ids][]', user.id %>
  <% end %>
  <br><br>
  <button type="submit" class="button" style="vertical-align:middle"><span>Invite</span></button>
  <button type="submit" class="button" style="vertical-align:middle"><span>Skip</span></button>
<% end %>
</div>
