<h4>Results are in!</h4>
<% @top_suggestions.each_with_index do |suggestion, index| %>
  <h4><%="#{index + 1}. #{suggestion.name}" %><br></h4>
  <p><%="Number of Likes: #{suggestion.likes.count}" %></p>
  <% @likes_hash[suggestion.name].each do |name, number_of_likes| %>
    <p><%= name %>: <%= number_of_likes %></p>
  <% end %><br><br>
<% end %>
