<h4>Welcome to <%= @outing.name %></h4>
<h4>Event Start: <%= @outing.event_start %></h4>
<h4>Voting Deadline: <%= @outing.voting_deadline %></h4>
<% @outing.users.each do |user| %>
  <%= user.username %>
<% end %>

<%# render 'invite.html.erb' if session[:user_states][@outing.id] == "invite" %>
<%# render 'submissions' if session[:user_states][@outing.id] == "submissions" %>
<%# render 'vote' if @outing.state = vote %>
<%# render 'results' if @outing.state = results %>
